.autocompleteItems {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 160px;
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
}